/* 

  this demo

*/

.code mark {
    font-weight: bold;
    padding: .3em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #AFB8C133;
    border-radius: 6px;
}

.linea {
    background: linear-gradient(to right, #f69ec4, #f9dd94 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}
