// home: intro

.separador {
  &-1 {
    width: 1035px;
    height: 10px;
    background-image: url("../images/separador.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0%;
    @include mobile {
      transform: translate(-100%, -50%);
    }
    @include tablet {
      transform: translate(-75%, -50%);
    }
    @include desktop {
      transform: translate(-65%, -50%);
    }
    @include widescreen {
      transform: translate(-55%, -50%);
    }
    @include fullhd {
      transform: translate(-45%, -50%);
    }
  }
}

.nombre {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
