@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

$color1: #4d4d4d;
$color2: #2e2e2e;
$color3: #42b983;
$color4: #d4d4d4;

/*

    EL RESET

*/

body,
html {
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
select,
label,
img,
a {
    -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: transparent;
}

img {
    border: 0;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #42b983;
    border-radius: 5px;
}

:root {
    scrollbar-color: #42b983;
    scrollbar-width: thin;
}

::-moz-selection {
    color: white;
    background: #42b983;
}

::selection {
    color: white;
    background: #42b983;
}

/*

    EL DEMO

*/

.scene1 > div {
    margin-bottom: 2rem;
}

.centerXY {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.fv-100 {
    min-height: 100vh;
}

.iPoint {
    cursor: pointer;
}

.is-fixed {
    position: fixed;
    bottom: 0.75rem;
    width: 100%;
    div {
        margin: 0 auto;
        width: auto;
    }
}

.vlbn {
    width: 100%;

    svg {
        width: 6rem !important;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    }

    div {
        margin: 0rem;
    }

    div > a,
    a:hover {
        color: $color1;
        display: inline-flex;
        align-items: center;

        h1 {
            font-size: 7rem;
            margin-left: 2rem;
            text-shadow:
                2px 2px 0px rgba(255, 255, 255, 1),
                5px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }
}

.vlbn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://picsum.photos/1920");
    filter: blur(9px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
