@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

$family-sans-serif: "Quicksand", sans-serif;

$green: #42b983;
$blue: #2e2e2e;
$paper: #fbfbfb;
$grey: #d4d4d4;

